<!DOCTYPE html>
<html>
  <head>
    <title>LineTodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=stylesheet_pack_tag'application',media:'all','dataturbolinkstrack':'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name = "viewport" content = "width = device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  </head>

  <body class = "container">

  <%if notice.present?%>
  <aside class = "alertalertinfo">
  <%=notice%>
  </aside>
  <%end%>

  <%if alert.present?%>
    <asid eclass="alertalertdanger">
  <%=alert%>
  </aside>
  <%end%>
  
    <%= yield %>
  </body>
</html>
